/*
##########################################################################
##########################################################################
		Default Layout: 952px.
		Content-Element width: 952px.
		Gutters: 24px.
		Outer content margins: 28px.
		Leftover space for scrollbars @1024px: 32px.
##########################################################################
cols    1     2      3      4      5      6      7      8      9      10
px      68    160    252    344    436    528    620    712    804    896    
##########################################################################
##########################################################################
*/
.hyphenate
{
	background-color:#EC0030;
}
.content-element
{
	background-color:#EC0030;
	margin-left:0;
	margin-right:0;
	width:1024px;
}
	
.dossier-start-bg {
	height:611px;
	padding-top:0;
	}
.dossier-start-bg-1 {
	height: 220px;
	padding-top: 0;
	background-color: #EC0030;
	}
.menu-top
{
	width:300px;
	height:222px;
	display:block;
	background-color:#FFF;
	position:absolute;
	left:66%;
	top:25px;
	background-image:url(../../images/dossier-01/tt_cuadro.png);
	background-size:cover;
}
.menu-top-1
{
	width: 300px;
	height: 220px;
	display: block;
	background-color: #FFF;
	position: absolute;
	left: 66%;
	top: 0px;
	background-image: url(../../images/dossier-01/tt_cuadro.png);
	background-size: contain;
}
.btn-especial
{
	width:209px;
	height:40px;
	background-color:#000;
	position:relative;
	top:151px;
	left:31px;
	background-image:url(../../images/dossier-01/bt_especial.png);
	background-size:cover;
}
#menu-mas
{
	width: 40px;
	height: 40px;
	display: block;
	position: relative;
	left: 81%;
	top: 0px;
}
#menu-sup
{
	background-color:#000;
	opacity:0.8;
	width:209px;
	position: relative;
	left: 31px;
	top: 151px;
	padding-top:20px;
	padding-bottom:1px;
	visibility:hidden;
	z-index: 100;
}
#menu-sup ul
{
	color:#FFF;
	list-style:none;
}
#menu-sup ul li
{
	color:#FFF;
	font-size:14px;
	margin-bottom:10px;
	margin-left: -5px;
}
#menu-sup ul li a
{
	color:#FFF;
	text-decoration:none;
}
.icon-swipe
{
	position: absolute;
	z-index: 10;
	left: 87%;
	top: 510px;
}
.texto-inicial
{
	padding-top:60px;
	color:#FFF;
	margin-left:25px;
}
#btn-mas
{
	position: absolute;
	left: 242px;
	top: 331px;
	border:0;
	height:28px;
	z-index:10;
}
#btn-menos
{
	border: 0;
	position: absolute;
	top: 86.5%;
	left: 92%;
}
#txt-hidden
{
	width: 350px;
	height: 210px;
	background-color: #000;
	position: absolute;
	top: 149px;
	left: 270px;
	visibility: hidden;
}
#txt-hidden p
{
	color: #FFF;
	font-size: 11px;
	font-style: italic;
	width: 255px;
	margin-left: 53px;
	margin-top: 10px;
}
.par-txt
{
	background-color:#FFF;
	padding-bottom: 40px;
	width:572px;
	float:right;
	margin-right:60px;
}
.txt-esp
{
	padding-left:45px;
}
#images
{
	background-color:#FFF;
	width:200px;
	float:left;
}
.img-1
{
	position: relative;
	left: 20px;
}
.footer-img
{
	width:1024px;
	height:587px;
}
#img-footer
{
}
#twt-img
{
	background-image:url(../../images/dossier-01/twitter_fdc.png);
	width:233px;
	height:36px;
	background-size:cover;
	position:relative;
	z-index:10;
	top: -60px;
	left: 454px;
}
	

/*
##########################################################################
##########################################################################
		Tablet Layout: 768px.
		Content-Element width: 712px.
		Gutters: 24px.
		Outer content margins: 28px.
		Inherits styles from: Default Layout.
##########################################################################
cols    1     2      3      4      5      6      7      8
px      68    160    252    344    436    528    620    712    
##########################################################################
##########################################################################
*/

@media only screen and (min-width: 768px) and (max-width: 991px) {
	

	
}


/*
##########################################################################
##########################################################################
		iPad Layout Portrait: 768px.
		Content-Element width: 712px.
		Gutters: 24px.
		Outer content margins: 28px.
		Inherits styles from: Default Layout.
##########################################################################
cols    1     2      3      4      5      6      7      8
px      68    160    252    344    436    528    620    712   
##########################################################################
##########################################################################
 */
 
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
	

	
	
	}


/*
##########################################################################
##########################################################################
		iPad Layout Landscape: 1024px.
		Content-Element width: 896px.
		Gutters: 24px.
		Outer content margins: 64px.
		Inherits styles from: Default Layout.
##########################################################################
cols    1     2      3      4      5      6      7      8      9      10
px      68    160    252    344    436    528    620    712    804    896    
##########################################################################
##########################################################################
*/

@media only screen and (max-device-width: 1024px) and (orientation:landscape) {
	
	
	}


/*
##########################################################################
##########################################################################
		Mobile Layout: 320px.
		Content-Element width: 292px.
		Gutters: 24px.
		Outer content margins: 14px.
		Inherits styles from: Default Layout.
##########################################################################
cols    1     2      3
px      68    160    252    
##########################################################################
##########################################################################
*/

@media only screen and (max-width: 767px) {
	
	
	
}


/*		
##########################################################################
##########################################################################
		Wide Mobile Layout: 480px.
		Content-Element width: 436px.
		Gutters: 24px.
		Outer content margins: 22px.
		Inherits styles from: Default Layout, Mobile Layout.
#########################################################################
cols    1     2      3      4      5
px      68    160    252    344    436    
##########################################################################
##########################################################################
*/

@media only screen and (min-width: 480px) and (max-width: 767px) {
	


	
}


/*		
##########################################################################
##########################################################################
	Retina media query.
	Overrides styles for devices with a 
	device-pixel-ratio of 2+, such as iPhone 4.
######################################################################### 
##########################################################################
*/

@media 
	only screen and (-webkit-min-device-pixel-ratio: 2),
	only screen and (min-device-pixel-ratio: 2) {
	
	
	
}



